body{
    margin: 0;
    padding: 0;
}
/* This is for navbar font */
.nav-font-family{
    font-family: 'Roboto', sans-serif;
    color:black;
}

/* This is the main logo in the top */
.logo-size{
    height: 39.27px;
    width: 291.11px;
}
.img-size{
    width: 440.72px;
    height: 450.71px;
}
.header-bg{
    background-color: #FFFBF0;
}
.buy-now-button{
    background-color:#9fb83f;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
}
.price-color{
    color: #fabf4f;
}

.head-font{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

.img-head-font{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
.top-head-color{
    color: #FABE4C;
}
.dark-head-color{
    color: #363958;
}
.fas{
    font-size:15px;
}
.img-length{
    height: 320px;
    width: 300px;
}
.img-body{
    height: 350px;
    width: 330px;
    background-color: rgb(231, 226, 226);
    border-radius: 6px;
    margin-bottom: 20px;
}
.cart-img-size{
    height: 130px;
    width: 130px;
}
.cart-header{
    font-size:20px;
    font-weight: 700;
}
.side-img{
    width: 400px;
    margin-top: 80px;
    margin-left: 80px;
}
